<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Matchlist</title>
	</head>
	<body>
		<p th:if="${resultDto != null && resultDto.isError() == false}">Changed your password!</p>
		<a  th:href="'http://localhost:8080/admin?uid=' + ${userDto.getId()}" th:if="${userDto.isAdmin() == true}" >Admin</a>
		<form action="/matches/search/user" method="get" >
			<select name="playerid" >
				<option th:each="player : ${matchListDto.getUsers()}" th:text="${player.getName()}" th:value="${player.getId()}"></option>
			</select>
			<input type="hidden" name="uid" th:value="${userDto.getId()}" />
			<input type="submit" value="Search" />
		</form>
		<form action="/matches/search/location" method="get">
			<select name="locationid" >
				<option th:each="location : ${matchListDto.getLocations()}" th:text="${location.getName()}" th:value="${location.getId()}"></option>
			</select>
			<input type="hidden" name="uid" th:value="${userDto.getId()}" />
			<input type="submit" value="Search" />
		</form>
		<table>
			<tr>
				<th>Location</th>
				<th>User 1 name</th>
				<th>User 1 points</th>
				<th>User 2 name</th>
				<th>User 2 points</th>
				<th>Location Fee HUF</th>
				<th>Location Fee EUR</th>
				<th>Date</th>
			</tr>
			<tr th:each="matchDto : ${matchListDto.getMatches()}">
				<td th:text="${matchDto.getLocationName()}"></td>
				<td th:text="${matchDto.getUser1().getName()}"></td>
				<td th:text="${matchDto.getUser1Points()}"></td>
				<td th:text="${matchDto.getUser2().getName()}"></td>
				<td th:text="${matchDto.getUser2Points()}"></td>
				<td th:text="${matchDto.getLocFeeHUF()}"></td>
				<td th:text="${matchDto.getLocFeeEUR()}"></td>
				<td th:text="${matchDto.getDate()}"></td>
			</tr>
		</table>
		<a href="/showxml" >Make XML</a>
		<a th:href="'/xml/read?uid=' + ${userDto.getId()}"  >Show matches from XML</a>
	</body>
</html>